body{
    background-color: #f2f2f2;
    font-family: 'Nunito';
    font-size: 16px;
}

nav {
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 28vw;
    margin: auto;
    border-radius: 30px;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    padding: 2vh 1vw;
    color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    transition: color 0.3s ease;
    font-weight: 600; 
}

nav a:hover {
    color: #f1c40f;
}

.reservations {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#reservationsListe {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 0;
    list-style-type: none;
    justify-content: flex-start;
}

.reservation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    flex-direction: row;
    min-width: 200px;
    max-width: 45%;
    box-sizing: border-box;
}

.reservation:hover {
    background-color: #f1f1f1;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.detailsBtn {
    background-color: #4CAF50;
    color: white;
}

.detailsBtn:hover {
    background-color: #45a049;
}

.annulerBtn {
    background-color: #e74c3c;
    color: white;
}

.annulerBtn:hover {
    background-color: #c0392b;
}

.closeBtn {
    background-color: #95a5a6;
    color: white;
}

.closeBtn:hover {
    background-color: #7f8c8d;
}